.content {
    position: absolute;
    top: 135px;
    width: 100%;
    text-align: center;
    height: 65vh;
    background-color: white;
    color: #6a2305;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header-journeys{
    color: #eb601f;
  }

  .header-filtered-journeys{
    color: #eb601f;
  }

  .label-journeys{
    color: #6a2305;
  }
  .content-filter{
    padding-top: 3%;
  }
  .table-journeys{
    text-align: center;
  }

  .search{
  display: flex;
  flex-direction: row;
  }



 