.content {
    position: absolute;
    top: 135px;
    width: 100%;
    text-align: center;
    height: 65vh;
    background-color: white;
    color: #6a2305;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header-journeys{
    color: #3D9DDB;
  }

  .header-filtered-journeys{
    color: #eb601f;
  }

  .label-journeys{
    color: #063460;
  }
  .content-filter{
    padding-top: 3%;
  }
  .table-journeys{
    text-align: center;
    color:#70aee7 ;
  }

  .search{
  display: flex;
  flex-direction: row;
  }

  .filter-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #3D9DDB;
    border: 1px solid #9ecde3;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius:10px;
  }

  .table-journeys{
    border: 1px solid #9ecde3;
  }

  .thead{
    color: #063460;
    border: 1px solid #9ecde3;
  }

  .tr{
    border: 1px solid #9ecde3;
  }

  


 