* {
	text-align: center;
}
.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 120vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #FFF7F2;
  }
  
  input[type="text"],
  input[type="password"], 
  input[type="email"],
  input[type="tel"]{
    height: 25px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color:#FFFFFF;
    text-align: left;
    padding: 7px 20px;
    font-size: medium;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #DD571C;
    border: 1px solid #EC9706;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius:10px;
  }
  
  input[type="submit"]:hover {
    background: #FF781F;
  }

  .sign-up-label,
  .sign-in-label {
    cursor: pointer;
  }
  
  .upload-button-container{
    background: wheat;
  }
  
  .sign-in-form,
  .sign-up-form{
    position: absolute;
    top: 30%;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
  }
  
  .list-container {
    display: flex;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #511E00
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color:#511E00;
  }

  .pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  
  i {
    position: absolute;
    top: 43%;
    right: 16%;
  }
  i:hover {
    color: #00fcb6;
    cursor: pointer;
  }

 
 